*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{ 
    background: url("../images/Layer3.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#wrapper{
    background-color: #EFF1F0;
    margin: 0 80px;  
}

#login_form{
    position: absolute;
    right: 0;
    z-index: 5;
    font-family: 'Raleway', Arial;
    font-size: 16px;
    font-weight: bold;
    background: #C4D2D3;
    padding: 10px;
    opacity: 0.9;
}

.login_link:link{
    text-decoration: none;
    color: #fff;
}

.login_link:hover {
    text-decoration: none;
    color: #fff;
}

.login_link:visited {
    text-decoration: none;
    color: #fff;
}

#login_button{
    padding-left: 5px;
    margin: 10px 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    background: #53B8C4;
    float: left;
    font-family: 'Raleway', Arial;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 0;
}

#lock_image{
    float: left; 
    padding-right: 60px; 
    margin: 10px auto;
}

.toggle {
    padding: 10px 10px 10px 5px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 5;
    display: none;
  }

.banner_text{
    position: relative;
    font-family: 'Raleway', Arial;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    left: 20%;
    bottom: 120px;   
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    }

.carousel-controls{
    position:relative; 
    width:300px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {
    position:static;
    display:block;
    width:auto;
}

#company_title{
    display: table;
    margin: 6px auto 25px auto;
}

.description_tab{
    position: relative;
    width: 100%;
    float: left;
    margin: 20px auto;
    background: #fff;
    min-height: 100px;
    -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    background-image: linear-gradient(bottom, #53B8C4 39%, #fff 61%);
    background-image: -o-linear-gradient(bottom, #53B8C4 39%, #fff 61%);
    background-image: -moz-linear-gradient(bottom, #53B8C4 39%, #fff 61%);
    background-image: -webkit-linear-gradient(bottom, #53B8C4 39%, #fff 61%);
    background-image: -ms-linear-gradient(bottom, #53B8C4 39%, #fff 61%);
}

.number_tab{
    padding: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #53B8C4;
    float: left;
}

.number_tab p{
    color: #fff;
    font-size: 48px;
    float: left;
}

.informational_text{
    position: relative;
    width: 90%;
    left: 10px;
    font-family: 'Raleway', Arial;
    font-weight: 600;
    word-wrap: break-word;
    min-height: 20px;
}

.extra_information{
    position: relative;
    float: right;
    bottom: 72px;
    right: 10px;
    font-family: 'Raleway', Arial;
    font-weight: 600;
    font-size: 36px;
}

.extra_information:link{
    text-decoration: none;
    color: #53B8C4;
    font-size: 36px;
}

.extra_information:hover {
    text-decoration: none;
    color: #53B8C4;
    font-size: 36px;
}

.extra_information:visited {
    text-decoration: none;
    color: #53B8C4;
    font-size: 36px;
}

.description_toggle{
    display: none;
    white-space: pre-wrap;
    float: left;
    margin-top: -60px;   
}

#viewMore{
    display:block;
    text-align:center;
    margin-top: 25px;
    font-family: 'Raleway', Arial;
    font-weight: bold;
    font-size: 20px; 
}

#hiddenRow{
    display: none;
    margin: 40px auto;
}

.col-md-3 col-xs-6, h3{
    float: left;
}

.more_information{
    color: #fff;
    background: #53B8C4;
    width: 40px;
    height: 40px;
    padding: 3px;
    float: left;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    font-family: 'Raleway', Arial;
    font-weight: bold;  
}

.second_description_toggle{
    display: none;
}

.information_paragraph{
    clear: left;
    font-family: 'Raleway', Arial;
    font-weight: 600;
    word-wrap: break-word;
    background: #53B8C4;
    color: #fff;
    padding: 10px;
}

.col-md-12{
    background: #fff;
    max-width: 100%;
    -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#article_title{
    padding-left: 40px;
    font-family: 'Raleway', Arial;
    font-weight: bold;
}

#article_paragraph{
    font-family: 'Raleway', Arial;
    font-weight: 600;
    word-wrap: break-word;
    width: 80%;
}

.bottom_arrows{
    position: relative;
    left: -15px;
    color: #fff;
    background: #53B8C4;
    width: 40px;
    height: 40px;
    padding: 0;
    float: left;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    font-family: 'Raleway', Arial;
    font-weight: bold;
}

@media (max-width: 979px) {
    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    
    .navbar-inner {
        margin: 0px 0px -20px 0;
    }
    
    .carousel .item {
        width: auto;
        height: 300px;
    }
    
    .carousel img {
        width: auto;
        height: 300px;
    }
    
    #login_form{
        position: relative;
        max-width: 100%; 
        top: 0;
        left:auto;
        right: auto;
        background: #53B8C4;
        margin: auto;
    }
    
    #login_button{
        float: right;
    }
    
    #user_input{
        margin-left: 20px;
    }
    
    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        width: 100%;
    }
    
     #lock_image{
        display: none;
    }
    
    .toggle{
        position: absolute;
        max-width: 100%; 
        left: 0;
        right: 0;
    }
    
}

@media (max-width: 767px) {
    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .carousel .item {
        height: 350px;

    }
    
    .carousel img {
        height: 350px;
    }
     
    #company_title{
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        max-width: 100%;
    }
    
    #wrapper{
        max-width: 100%;
        margin: 0 auto;
        
    }
    
    .description_tab{
        max-width: 100%;       
    }

    .informational_text{
        position: relative;
        max-width: 100%;
        padding-left: 100px;
        height: auto;
    }

    .extra_information{
        float: right;
        max-width: 100%;
    }
    
    .number_tab{
        position: absolute;
    }
    
    #right_green_corner{
        display: none;
    }
    
}

@media (max-width: 413px) {
    
    #informational_title{
        font-size: 20px;
    }
    
    .informational_text{
        position: relative;
        max-width: 100%;
        padding-left: 100px;
        height: auto;
        font-size: 12px;
    }
    
    .toggle{
        margin-top: 20px;
        width: 100%;
    } 
}
    